@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
:root {
  --app-bg: #101827;
  --sidebar: rgb(23, 32, 49);
  --sidebar-main-color: #dadada;
  --table-border: #1a2131;
  --table-header: #1a2131;
  --app-content-main-color: #fff;
  --sidebar-link: #fff;
  --sidebar-active-link: #1d283c;
  --sidebar-hover-link: #1a2539;
  --action-color: #01bd78 ;
  --action-color-hover: #3EB489;
  --app-content-secondary-color: #1d283c;
  --flashcard:beige ;
  --flashcard-content:rgb(23, 32, 49);
  --filter-reset: #2c394f;
  --baby-pink: #e2ccc6;
  --filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --box-shadow:#4a4a4a12;
}

.light:root {
  --app-bg: #eef2f563;
  --sidebar: #ffffff;
  --app-content-secondary-color: #eef2f5;
  --app-content-main-color: antiquewhite;
  --sidebar-link: #333;
  --sidebar-hover-link: rgba(194, 194, 194, 0.582);
  --sidebar-active-link: #bf007b14;
  --sidebar-main-color: rgb(197, 197, 197);
  --filter-reset: #008ffb;
  --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow:#54545424;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

button {
  border: none;
  background-color: white;
  border-radius: 50%;
  color: black;
  margin: 0;
  padding: 0;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid #00A5E3;
  color: #00A5E3;
  padding: 10px 20px;
  border-radius: 22px;
  transition: all ease-in-out .2s;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--action-color-hover);
  color: white;
}

.screenshot__btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  z-index: 400000;
  margin: 12px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}

.screenshot__btn svg {
  fill: #00A5E3;
}

.screenshot__btn:hover {
  transform: scale(1.07);
}

.screenshot__btn:hover svg {
  fill: #00A5E3;
}

.react-flow {
  height: 100vh !important;
  background-color: #eee;
}

.text-updater-node {
  height: 50px !important;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.react-flow__attribution {
  display: none;
}

.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.react-flow__minimap {
  left: 5%;
}

.react-flow__controls {
  padding: 8px;
  border-radius: 12px;
  background-color: white;
  z-index: 2000000;
}

.react-flow__controls button {
  border: none;
}

.map__nav {
  position: fixed;
  top: 35%;
  bottom: 35%;
  right: 0;
  background-color: white;
  padding: 15px;
  border-radius: 12px;
  z-index: 200;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 37px;
}

.map__nav button {
  margin: 10px 0px;
}

.hidden__nodesInj {
  display: none;
}

.shown__nodesInj {
  position: absolute;
  top: 30%;
  bottom: 30%;
  right: 6%;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  z-index: 50000;
  height: 51%;
  max-width: 50%;
}

.shown__nodesInj .options {
  display: flex;
}

.shown__nodesInj .options .node__nav {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.shown__nodesInj .options .node__nav .container {
  z-index: 500000;
}

.shown__nodesInj .options .node__nav button:hover {
  background-color: #eeeeee;
}

.react-flow__minimap {
  height: 75px !important;
  width: 100px !important;
}

.container .wmde-markdown.wmde-markdown-color {
  display: none;
}

.container .wmde-markdown.wmde-markdown-color.w-md-editor-preview {
  display: block;
}

.wmde-markdown-var.w-md-editor.w-md-editor-show-live {
  height: 200px;
  width: 500px;
}

.background {
  width: 10px;
  background: #FAFFB8;
  --amount: 20;
  position: relative;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  cursor: pointer;
}

.background span {
  cursor: pointer;
  width: 4vmin;
  height: 4vmin;
  border-radius: 2vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 0.8);
  animation-iteration-count: infinite;
  animation-duration: 3s;
  top: calc(50% - 2vmin);
  left: 50%;
  transform-origin: -2vmin center;
}

.background span:nth-child(1) {
  background: #8DD7BF;
  animation-delay: -0.375s;
  opacity: 0;
}

.background span:nth-child(2) {
  background: #00A5E3;
  animation-delay: -0.75s;
  opacity: 0;
}

.background span:nth-child(3) {
  background: #CFF800;
  animation-delay: -1.125s;
  opacity: 0;
}

.background span:nth-child(4) {
  background: #CFF800;
  animation-delay: -1.5s;
  opacity: 0;
}

.background span:nth-child(5) {
  background: #FFBF65;
  animation-delay: -1.875s;
  opacity: 0;
}

.background span:nth-child(6) {
  background: #00A5E3;
  animation-delay: -2.25s;
  opacity: 0;
}

.background span:nth-child(7) {
  background: #FF96c5;
  animation-delay: -2.625s;
  opacity: 0;
}

.background span:nth-child(8) {
  background: #FF96c5;
  animation-delay: -3s;
  opacity: 0;
}

@keyframes move {
  0% {
    transform: scale(1) rotate(0deg) translate3d(0, 0, 1px);
  }
  30% {
    opacity: 1;
  }
  100% {
    z-index: 10;
    transform: scale(0) rotate(360deg) translate3d(0, 0, 1px);
  }
}

@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.Colors {
  position: absolute;
  top: 100%;
  transition: width 2s, height 2s, transform 2s;
  animation: rotateX 700ms ease-in-out forwards;
}

.Colors button {
  width: 26px;
  height: 26px;
  margin: 0;
  cursor: pointer;
}

.Colors .mint__btn {
  background-color: #8DD7BF;
}

.Colors .pink__btn {
  background-color: #FF96c5;
}

.Colors .orange__btn {
  background-color: #FFBF65;
}

.Colors .yellow__btn {
  background-color: #CFF800;
}

.Colors .babyblue__btn {
  background-color: #00A5E3;
}

.HideColors {
  animation: rotateX 1s ease-in-out forwards;
  display: none;
}

.mint .react-flow__edge-path {
  stroke: #8DD7BF;
}

.mint .react-flow__edge-path {
  stroke: #8DD7BF !important;
  stroke-width: 2px;
}

.mint .react-flow__node {
  border: 3px solid #8DD7BF;
  border-radius: 13px;
}

.mint rect .react-flow__edge-textbg {
  fill: #9fefd5;
}

.mint .react-flow__handle {
  background: #8DD7BF !important;
  height: 4px;
  border: none;
}

.pink .react-flow__edge-path {
  stroke: #FF96c5;
}

.pink .react-flow__edge-path {
  stroke: #FF96c5 !important;
  stroke-width: 2px;
}

.pink .react-flow__node {
  border: 3px solid #FF96c5;
}

.pink .react-flow__edge-textbg {
  fill: #ffc8e1;
}

.pink .react-flow__handle {
  background: #FF96c5 !important;
  height: 4px;
  border: none;
}

.babyblue .react-flow__edge-path {
  stroke: #00A5E3;
}

.babyblue .react-flow__edge-path {
  stroke: #00A5E3 !important;
  stroke-width: 2px;
}

.babyblue .react-flow__node {
  border: none;
  border-bottom: 3px solid #00A5E3;
  background: transparent;
}

.babyblue .react-flow__node .wmde-markdown-color {
  background: transparent;
}

.babyblue .react-flow__edge-textbg {
  fill: #7bc7e2;
}

.babyblue .react-flow__handle {
  background: #00A5E3 !important;
  height: 4px;
  border: none;
}

.orange .react-flow__edge-path {
  stroke: #FFBF65;
}

.orange .react-flow__edge-path {
  stroke: #FFBF65 !important;
  stroke-width: 2px;
}

.orange .react-flow__node {
  border: none;
  border-radius: 13px;
  border-bottom: 3px solid #FFBF65;
  padding: 12px 10px;
}

.orange .react-flow__edge-textbg {
  fill: #fcce8f;
}

.orange .react-flow__handle {
  background: transparent !important;
  height: 7px;
  border: 3px solid #FFBF65;
}

.yellow .react-flow__edge-path {
  stroke: #CFF800;
}

.yellow .react-flow__edge-path {
  stroke: #CFF800 !important;
  stroke-width: 2px;
}

.yellow .react-flow__node {
  border: 3px solid #CFF800;
  border-radius: 13px;
}

.yellow .react-flow__edge-textbg {
  fill: #cfff4a;
}

.yellow .react-flow__handle {
  background: #CFF800 !important;
  height: 4px;
  border: none;
}
/*# sourceMappingURL=main.css.map */